*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(./assets/josh-hild-_TuI8tZHlk4-unsplash.jpg);
    background-size: cover;
}

.head{
    display: flex;
    justify-content: center;
    margin: 50px 50px;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

ul{
    list-style-type: none;
}

ul li{
    padding: 10px 50px 10px 6px;
    margin-bottom: 15px;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    background-color: rgb(63 173 173);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: x-large;
    border: 2px solid white;
    width: 50%;
}

.list_item{
    display: flex;
}

.list_item input{
    padding: 20px;
}


.delete-btn{
    margin-inline-end: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 255, 255, 0.51);
    border-color: aqua;
}

.delete-btn:hover{
    cursor: pointer;
}

#create-btn{
    display: flex;
    background-color: rgb(63 173 173);
    padding: 40px 30px 40px 30px;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    width: 50%;
    margin-left: 20px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    border: 2px solid white;
    color: antiquewhite;
}

#create-btn input{
    padding: 5px 30px;
    outline: none;
    border: 2px solid wheat;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: x-large;
    color: white;
    background-color: rgb(66, 230, 230);

}

#create-btn button{
    margin-inline-end: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 255, 255, 0.51);
    border-color: aqua;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: x-large;
    color: white;
}

/* Add these styles for the custom checkbox */
.custom-checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid #ffffff;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }
  
  .custom-checkbox:checked {
    background-color: #55aaff;
    border: 2px solid #ffffff;
    color: white;
  }
  
  .custom-checkbox:after {
    content: '\2713'; /* Unicode character for checkmark */
    font-size: 16px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  
  .custom-checkbox:checked:after {
    display: block;
  }
  
#container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 30%;
    border-radius: 10px;
}

